body {
    background-color: rgb(56, 56, 56);
}

article {
    background-color: rgb(49,49,49);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    color: white;
    border: none; 
    height: 15px; 
    background-color: rgb(255, 255, 255); 
}

.li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

li {
    font-size: 30px; 
    font-family: 'Arial', sans-serif; 
    color: white; 
}

.card {
    width: 1500px;
    height: 500px;
    border-radius: 30px;
    background: rgb(54, 54, 54);
    margin-top: 70px;
    margin-left: 10px;
    border: 3px solid white;
}

.cardCarousel {
    width: 1200px;
    height: 500px;
    border-radius: 30px;
    background: rgb(63, 62, 62);
    margin-top: 70px;
    margin-left: 10px;
    border: 3px solid white;
}

.carousel-indicators {
    margin-bottom: -25px;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
}

footer p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.DevCredit {
    background-color: white;
}

